button:nth-child(1){
    font-size: 20px;
    background-color:#5e60ce;
}
button:nth-child(2){
    font-size: 20px;
    background-color:#5390d9;
}
button:nth-child(3){
    font-size: 20px;
    background-color:#4ea8de;
}

button:nth-child(4){
    font-size: 20px;
    background-color: #48bfe3;
}

button:nth-child(8){
    font-size: 20px;
    background-color: #56cfe1;
}

button:nth-child(12){
    font-size: 20px;
    background-color: #64dfdf;
}

button:nth-child(16){
    font-size: 20px;
    background-color: #72efdd;
}
button:nth-child(20){
    font-size: 20px;
    background-color:#80ffdb;
}