#container{
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    background-color: rgba(129, 224, 224, 0.171);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0.5rem 1.1rem 1.3rem rgba(0, 0, 0,.1);
    padding: 55px;
    border-radius: 12px;
}